body {
  padding: 0;
  margin: 0;
}

h1 {
  color: #444;
}

marvel-slide {
  text-align: center;
  width: 100vw;
  height: 100vh;
  transition: transform .5s ease-in;
  transform: translateX(200vw);

  &[display-state="current"] {
    position: absolute;
    height: 100vh;
    transform: translateX(0);
  }
}

marvel-deck {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide-num {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
