<marvel-deck>
  <marvel-slide>
     <h2>Slide 0</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 1</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 2</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 3</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 4</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 5</h2>
  </marvel-slide>
  <marvel-slide>
     <h2>Slide 6</h2>
  </marvel-slide>
 <span class="slide-num">{{currentSlide}}</span>
</marvel-deck>
